<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="" method="'POST">{% csrf_token %}
    
    <!--  <p>Equipo: <input type="text" name="equipo"></p>
        <p>Fundacion: <input type="number" name="fundacion"></p>
        <p>Presidente: <input type="text" name="presidente"></p>
        <p>Dt: <input type="text" name="dt"></p>
        <p>Division: <input type="text" name="division"></p>
        -->

            <table>

                {{ miFormulario.as_table }}

            </table>

        <input type="submit" value="Enviar">

    </form>

</body>
</html>